openapi: 3.1.0
info:
  title: EUBatteryPassport API
  version: 0.1.0
servers:
  - url: https://api.eubatterypassport.nl/v1
paths:
  /organisations:
    post:
      summary: Create organisation
      responses: { "201": { description: Created } }
  /battery-models:
    post:
      summary: Create battery model
      responses: { "201": { description: Created } }
  /battery-models/{modelId}/readiness:
    get:
      summary: Calculate 71-point readiness and blockers
      parameters:
        - in: path
          name: modelId
          required: true
          schema: { type: string, format: uuid }
      responses: { "200": { description: Readiness result } }
  /battery-items:
    post:
      summary: Create an item-level battery record
      responses: { "201": { description: Created } }
  /battery-items/bulk:
    post:
      summary: Bulk-create item-level records from CSV/JSON
      responses: { "202": { description: Accepted } }
  /passport-values:
    post:
      summary: Add or update a field value with provenance
      responses: { "201": { description: Created } }
  /evidence:
    post:
      summary: Upload evidence metadata and obtain secure upload target
      responses: { "201": { description: Created } }
  /supplier-requests:
    post:
      summary: Request missing data/evidence from supplier
      responses: { "201": { description: Created } }
  /passports/{batteryItemId}/validate:
    post:
      summary: Run schema, legal, cross-field and evidence validation
      parameters:
        - in: path
          name: batteryItemId
          required: true
          schema: { type: string, format: uuid }
      responses: { "200": { description: Validation report } }
  /passports/{batteryItemId}/publish:
    post:
      summary: Publish a new immutable passport version
      responses: { "201": { description: Published version } }
  /passports/{batteryItemId}/qr:
    post:
      summary: Generate data-carrier asset for a published UPI
      responses: { "201": { description: QR asset } }
  /passports/{batteryItemId}/registry:
    post:
      summary: Submit via configured EU Registry adapter
      responses:
        "202": { description: Submission queued }
        "409": { description: Registry submission unavailable or prerequisites missing }
  /registry/submissions/{submissionId}:
    get:
      summary: Get Registry submission/correlation status
      responses: { "200": { description: Submission status } }
  /telemetry/{batteryItemId}:
    post:
      summary: Ingest authorized lifecycle/BMS measurements
      responses: { "202": { description: Accepted } }
  /access-grants:
    post:
      summary: Issue restricted access grant subject to current legal rules
      responses: { "201": { description: Grant created } }
  /public/passports/{upi}:
    get:
      summary: Public free-of-charge passport representation
      responses: { "200": { description: Public passport } }
